<section id="what-i-do" style="height: 600px;" class="section-what-i-do">
  <div class="container">
    <h1 class="text-center fw-bold text-9 pb-110px">What I Do?</h1>
    <div class="know-me-more-line"></div>
    <div class="row">
      <!-- Зліва зображення, справа текст -->
      <div class="col-md-6 pb-5 pt-120px">
        <div class="d-flex">
          <img src="icon.png" alt="Left Image" class="img-fluid mr-3 img-size">
          <div>
            <h3 class="text-white">Graphic Design</h3>
            <p class="mb-0 text-white-50">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
          </div>
        </div>
      </div>

      <!-- Зліва зображення, справа текст -->
      <div class="col-md-6 pb-5 pt-120px">
        <div class="d-flex">
          <img src="icon.png" alt="Left Image" class="img-fluid mr-3 img-size">
          <div>
            <h3 class="text-white">Web Development</h3>
            <p class="mb-0 text-white-50">Duo et verterem dissentiet, eu essent delenit meliore qui, eam ei novum volutpat deserunt.</p>
          </div>
        </div>
      </div>

      <!-- Зліва зображення, справа текст -->
      <div class="col-md-6 pb-5">
        <div class="d-flex">
          <img src="icon.png" alt="Left Image" class="img-fluid mr-3 img-size">
          <div>
            <h3 class="text-white">Another Skill</h3>
            <p class="mb-0 text-white-50">Some text describing the third skill with the image on the left.</p>
          </div>
        </div>

      </div>

      <div class="col-md-6 pb-5">
        <div class="d-flex">
          <img src="icon.png" alt="Left Image" class="img-fluid mr-3 img-size">
          <div>
            <h3 class="text-white">Another Skill</h3>
            <p class="mb-0 text-white-50">Some text describing the third skill with the image on the left.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 pb-5">
        <div class="d-flex">
          <img src="icon.png" alt="Left Image" class="img-fluid mr-3 img-size">
          <div>
            <h3 class="text-white">Another Skill</h3>
            <p class="mb-0 text-white-50">Some text describing the third skill with the image on the left.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 pb-5">
        <div class="d-flex">
          <img src="icon.png" alt="Left Image" class="img-fluid mr-3 img-size">
          <div>
            <h3 class="text-white">Another Skill</h3>
            <p class="mb-0 text-white-50">Some text describing the third skill with the image on the left.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>