<section id="about-me" class="section-about-me" style="height: 800px;">
  <div class="container">
    <h1 class="text-center know-me-more text-9 pb-110px" id="know-me-more">Know Me More</h1>
    <div class="know-me-more-line"></div>
    <div class="row">
      <!-- Ліва колонка -->
      <div class="col-lg-7 col-xl-8 text-left mt-120px">
        <h2 class="know-me-more-h2" id="name">I'm <span class="home-color" id="color-name">Svitlana Lyzanets,</span> a Web Developer</h2>
        <p class="know-me-more-text", id="about">
          I am a designer with a fervent ambition to change the world through creativity. I always strive to develop designs that not only aesthetically attract but are also highly user-friendly and intuitively understandable for users. My goal is to transform your ideas into digital reality and assist you in achieving maximum success in your industry. Take a look at my works, and don't hesitate to reach out to me to embark on incredible projects together.
        </p>
      </div>

      <!-- Права колонка -->
      <div class="col-lg-5 col-xl-4 mt-120px ">
        <p class="section-divider"><b id="name-two">Name:</b> Simone Olivia</p>
        <p class="section-divider"><b>Email:</b> <a href="mailto:svitlanalyzanets@gmail.com" class="home-color">svitlanalyzanets@gmail.com</a></p>
        <p class="section-divider"><b id="age">Age:</b> 23</p>
        <p class="section-divider"><b id="from">From:</b> Los Angeles, California</p>
        <div class="pt-4"></div>
        <a href="Mykola_Lyzanets_CV.pdf" target="_blank" class="download-btn rounded-pill back-home-color" id="cv">CV</a>
        <span>&nbsp;</span>
        <a href="Mykola_Lyzanets_CV.pdf" target="_blank" class="download-btn rounded-pill back-home-color" id="certificate">Certificate</a>
      </div>
    </div>
  </div>
</section>
