<section id="portfolio" style="height: 4000px;" class="section-resume">
  <div class="container">
    <h1 class="text-center fw-bold text-9 pb-110px">Portfolio</h1>
    <div class="know-me-more-line"></div>
    <div class="row mt-120px border-around">
      <h4>LANDING PAGE</h4>
      <p class="color-inside">#barbeshop#jasajbarber</p>
      <div class="border-inside">
        <img class="full-width-image" src="1.png">
      </div>
    </div>

    <div class="row mt-120px border-around">
      <h4>MULTI-PAGE WEBSITE</h4>
      <p class="color-inside">#website#transformational#practices</p>
      <div class="border-inside">
        <img class="full-width-image" src="2.png">
      </div>
    </div>

    <div class="row mt-120px border-around">
      <h4>LANDING PAGE</h4>
      <p class="color-inside">#school#slovakia</p>
      <div class="border-inside">
        <img class="full-width-image" src="3.png">
      </div>
    </div>

    <div class="row mt-120px border-around">
      <h4>MULTI-PAGE WEBSITE</h4>
      <p class="color-inside">#tattoo#studio</p>
      <div class="border-inside">
        <img class="full-width-image" src="4.png">
      </div>
    </div>

    <div class="row mt-120px border-around">
      <h4>MULTI-PAGE WEBSITE</h4>
      <p class="color-inside">#restaruant</p>
      <div class="border-inside">
        <img class="full-width-image" src="5.png">
      </div>
    </div>


  </div>


</section>