<section id="home" style="height: 1060px; background-image: url('back1.jpg'); background-size: cover; background-position: center;" class="section-1">
  <h1 class="text-center">Welcome</h1>
  <h2 class="text-center">My name is Svitlana</h2>
  <h2 class="text-center">I'm designer</h2>
  <div class="wrapper">
    <div class="centeredBox">
      <span id="typewriter" data-array=""></span>
      <span class="cursor"></span>
    </div>
  </div>
  <div class="text-center">
    <button class="scroll-btn">Hire Me</button>
  </div>
</section>