<section id="contact" style="height: 1060px;" class="section-contact">
  <div class="container">
    <h1 class="text-center fw-bold text-9 pb-110px">Contact</h1>
    <div class="know-me-more-line"></div>
    <div class="row"></div>
  </div>
</section>