<section id="resume" style="height: 1060px;" class="section-resume">
  <div class="container">
    <h1 class="text-center fw-bold text-9 pb-110px">Resume</h1>
    <div class="know-me-more-line"></div>
    <div class="row"></div>
  </div>
</section>