<!-- Бокове меню -->
<nav class="col-md-2 d-lg-block sidebar">
  <div class="container-fluid text-center sidebar-select">
    <ul class="nav flex-column">
      <li class="nav-item mt-120px">
        <a class="nav-link active fw-bold" href="#home" data-lang-key="home">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" href="#about-me" data-lang-key="about_me">ABOUT ME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" href="#what-i-do" data-lang-key="what_i_do">SERVICES</a>
      </li>
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link" href="#resume" data-lang-key="resume">Resume</a>-->
        <!--        </li>-->
      <li class="nav-item">
        <a class="nav-link fw-bold" href="#portfolio" data-lang-key="portfolio">PORTFOLIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" href="#testimonial-desktop" data-lang-key="testimonial">TESTIMONIALS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" href="#contact" data-lang-key="contact">CONTACT</a>
      </li>
    </ul>
    <div id="language-select" class="language-select language">
      <div class="flag fw-bold" onclick="changeLanguage('en')">EN</div>
      <div class="flag fw-bold" onclick="changeLanguage('uk')">UK</div>
      <div class="flag fw-bold" onclick="changeLanguage('sk')">SK</div>
    </div>

  </div>
</nav>
