<section id="resume-mobile" style="height: 2160px;" class="section-resume">
  <div class="container">
    <h1 class="text-center fw-bold text-9 pb-110px">Resume</h1>
    <div class="know-me-more-line"></div>
    <div class="row pt-120px">
      <div class="col-md-6">
        <h2 class="text-6 fw-600 mb-4 text-white fw-bold">
          My Education
        </h2>
        <div class="bg-dark px-4 py-4 br-5">
          <p class="resume-btn  back-home-color text-2 fw-400 text-black-50">2015 - 2021</p>
          <h3 class="fw-bold">Computer Science</h3>
          <p class="home-color">International University</p>
          <p class="text-white-50">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-6 fw-600 mb-4 text-white fw-bold">
          My Education
        </h2>
        <div class="bg-dark px-4 py-4 br-5">
          <p class="resume-btn  back-home-color text-2 fw-400 text-black-50">2015 - 2021</p>
          <h3 class="fw-bold">Computer Science</h3>
          <p class="home-color">International University</p>
          <p class="text-white-50">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="bg-dark px-4 py-4 br-5">
          <p class="resume-btn  back-home-color text-2 fw-400 text-black-50">2015 - 2021</p>
          <h3 class="fw-bold">Computer Science</h3>
          <p class="home-color">International University</p>
          <p class="text-white-50">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="bg-dark px-4 py-4 br-5">
          <p class="resume-btn  back-home-color text-2 fw-400 text-black-50">2015 - 2021</p>
          <h3 class="fw-bold">Computer Science</h3>
          <p class="home-color">International University</p>
          <p class="text-white-50">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="bg-dark px-4 py-4 br-5">
          <p class="resume-btn  back-home-color text-2 fw-400 text-black-50">2015 - 2021</p>
          <h3 class="fw-bold">Computer Science</h3>
          <p class="home-color">International University</p>
          <p class="text-white-50">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="bg-dark px-4 py-4 br-5">
          <p class="resume-btn  back-home-color text-2 fw-400 text-black-50">2015 - 2021</p>
          <h3 class="fw-bold">Computer Science</h3>
          <p class="home-color">International University</p>
          <p class="text-white-50">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
        </div>
      </div>
      <div class="pt-4"></div>
      <a href="Mykola_Lyzanets_CV.pdf" target="_blank" class="download-btn-resume rounded-pill back-home-color"><i class="fas fa-download"></i> Download CV</a>

    </div>
  </div>
</section>