<nav class="mobile navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <h1 class="text-5 text-white text-center mb-0 d-lg-block">Svitlana Lyzanets</h1>
  <div class="social-icons">
    <a href="https://www.facebook.com/profile.php?id=100010096574579" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://instagram.com/svitlana_designer__?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/yourpage" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div id="language-select-mobile" class="language-select mt-0">
    <div class="flag" onclick="changeLanguage('en')">
      <img src="en.svg.png" alt="English Flag" width="30" height="20" />
    </div>
    <div class="flag" onclick="changeLanguage('uk')">
      <img src="ukr.svg.png" alt="Український Прапор" width="30" height="20" />
    </div>
    <div class="flag" onclick="changeLanguage('sk')">
      <img src="sk.png" alt="Slovak Flag" width="30" height="20" />
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#home-mobile">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-me-mobile">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#what-i-do-mobile">What I Do</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#resume-mobile">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#portfolio-mobile">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#testimonial-mobile">Testimonial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact-mobile">Contact</a>
      </li>
    </ul>
  </div>
</nav>