body {
  font-family: Poppins!important;
}

.home-color {
  color: #E2FE16;
}

p {
  line-height: 1.5;
}

.back-home-color {
  background-color: #000;
}

.text-white-50 {
  --bs-text-opacity: 1;
  color: hsla(0, 0%, 100%, .5) !important;
}

/* Забезпечення мінімальної висоти для меню */
.sidebar {
  position: fixed!important;
  top: 0;
  height: 100vh;
  background-color: #000;
}

/* Збільшення після наведення */
.sidebar a {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.sidebar a:hover {
  color: #1baa80;
}

/* Активний пункт меню */
.sidebar .active {
  color: white;
}

.mt-lg-10 {
  margin-top: 10px;
}
/* Медіа-запит для екранів з розміром 768 пікселів або менше */
@media (max-width: 992px) {
    /* Змінюємо стиль для класу .sidebar */
  .sidebar {
    /* Сховати бокове меню */
    display: none!important;
  }

  /* Стилі для хедера на малих екранах */
  /* Наприклад, ви можете стилізувати хедер, як вам зручно */
  /* Наприклад: */
  .header {
    /* Ваші стилі для хедера */
    /* Наприклад: */
    background-color: #f2f2f2;
    padding: 10px;
    /* Додайте інші стилі, які вам потрібні */
  }
}
/* Сховати навігаційний бар на екранах 768 пікселів і більше */
@media (min-width: 992px) {
  .mobile {
    display: none!important;
  }
}

.mobile {
  background-color: #111418;
}

.mobile a {
  color: white;
  font-size: 16px;
  font-family: Poppins,sans-serif;
}

.text-2 {
  font-size: 14px !important;
}

.text-5 {
  font-size: 1.3125rem!important;
}

.text-9 {
  font-size: 2.25rem!important;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.social-icons a {
  color: white;
  font-size: 2rem;
}

.navbar {
  position: fixed!important;
  z-index: 1;
}
@media (min-width: 992px) {
  .navbar {
    position: fixed!important;
    z-index: 1;
  }
}
@media (max-width: 991px) {
  .section-1 {
    display: none;
  }

  .desktop {
    display: none;
  }
}

.section-1 {
  color: white;
}
.section-1 h1 {
  padding-top: 120px;
}
.scroll-btn {
  display: flex;
  width: 212px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  border: 1px solid #D1D1CC;
  background-color: #000;
  color: #FFFFFF;
}

.scroll-btn:hover {
  background-color: #E2FE16;
  color: #959595;
}

.section-about-me {
  background-color: #000!important;
  color: white;
}

.section-about-me h1 {
  padding-top: 50px;
}


.know-me-more-line {
  border-bottom: 5px solid hsla(0,0%,98%,.12);
  color: white;
  width: 100px;
  height: 4px;
  margin: 0 auto;
  background: #DAF515;
}

.service {
  display: flex;
  width: 880px;
  padding-bottom: 0px;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #353333
}

.container-service {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px; /* Визначте тут мінімальний проміжок між текстовими елементами */
}

.left-text, .right-text {
  flex-grow: 1;
  border: 1px solid #353333;
  padding: 10px;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}


.know-me-more {
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 48px */
  text-transform: uppercase;
}

.know-me-more-h2 {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.5%; /* 32.52px */
}

.know-me-more-text {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 141%; /* 22.56px */
  max-width: 418px;
}

.mt-120px {
  margin-top: 120px;
}

.section-divider {
  border-bottom: 1px solid #353333;
  font-size: 15px;
}

.download-btn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  border: 1px solid #D1D1CC;
  color: #FFFFFF;
  background-color: #000;
}

.download-btn:hover {
  background-color: #E2FE16;
  color: #959595;
  text-decoration: none;
}

.section-what-i-do  {
  background-color: #000!important;
  color: white;
}

.section-resume h1, .section-what-i-do h1, .section-portfolio h1, .section-contact h1, .section-testimonial h1 {
  padding-top: 50px;
}

.section-resume  {
  background-color: #000!important;
  color: white;
}

.img-size {
  height: 70px!important;
  width: 70px;
}

.border-solid{
  border: 9px solid grey;
}

.centered-container {
  display: flex;
  justify-content: center;
}

/* Just for the Look  */
body {
  background: #149cbe;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
}
/* Wrapper to Center the Typewriter */
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredBox {
  width: 100%;
  text-align: center;
}

/* The Typewriter */
.cursor {
  border-left: 4px solid white;
}

/* Анімація каретки для машинопису */
.text-center span {
  border-right: 0.08em solid #fff;
  animation: caret 0.75s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.first-section {
  font-family: Teko;
  font-size: 110px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 132px */
  text-transform: uppercase;
}

.text-first-section {
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 139%; /* 23.63px */
  letter-spacing: 1px;
}

.font-size-40 {
  font-size: 40px;
}

.resume-btn {
  display: inline-block;
  padding: 0.55em 0.8em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.65rem;
}

.br-5{
  border-radius: 5px;
}

.download-btn-resume {
  background-color: #282828;
  color: grey;
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 17px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  border: grey 3px solid;
}

.download-btn-resume:hover,
.download-btn-resume:focus {
  text-decoration: none;
  background-color: grey;
  color: white;
}

.section-testimonial  {
  background-color: #282828!important;
  color: white;
}

.mt-200px{
  margin-top: 200px;
}

.section-contact {
  background-color: #000!important;
  color: white;
}

.language-select {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.sidebar-select {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.flag {
  cursor: pointer;
}

footer {
  background-color: #000!important;
  color: white;
}

.pt-80px {
  padding-top: 80px;
}

@media (min-width: 993px) {
  .section-mobile {
    display: none;
  }

  .mobile {
    display: none;
  }
}

.section-mobile {
  color: white;
}

.nav .nav-item .nav-link.active {
  color: #E2FE16;; /* Колір тексту для активного елемента, змініть за потребою */
}

/* Додатковий стиль для наведення курсору на елемент меню */
.nav .nav-item .nav-link:hover {
  color: #E2FE16;;
}

/* Стилі для блоку з вибором мови */
.language-select {
  color: white;
  position: fixed;
  bottom: 20px;
  left: 8%; /* Розмістити блок по центру горизонтально */
  transform: translateX(-50%); /* Центрування блоку по горизонталі */
  display: flex;
  align-items: center;
  padding: 5px;
}

/* Стилі для іконок мов */
.language-select .flag {
  cursor: pointer;
  margin: 0 5px;
}

.language {
  color: #959595;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.pl-90px {
  padding-left: 90px!important;
}

.btn-primary {
  border-radius: 12px!important;
  background: #DAF515!important;
  border: none!important;
  color: black!important;
  padding: 8px!important;
}

.row-service {
  border-bottom: 1px solid #353333;
  display: flex;
  padding-bottom: 30px;
}

.pt-70px {
  padding-top: 70px!important;
}

.border-around {
  border: 1px solid #353333;
  padding: 20px;
}

.border-inside {
  padding: 20px;
  overflow: hidden;
}

.full-width-image {
  background-size: cover;
  width: 100%;
}

img {
  transition: transform 0.25s;
}

.border-inside:hover img {
  transform: scale(1.1);
}

.color-inside {
  color: #ABABAB;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.address-font {
  color: #FFF;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
}

.pt-100px {
  padding-top: 100px;
}

.pt-200px {
  padding-top: 200px;
}

.address-btn {
  display: flex;
  width: 212px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  border: 1px solid #D1D1CC;
  background: #DAF515;
  color: #000000;

}

.address-btn:hover {
  background-color: #E2FE16;
  color: #000000;
}





